{% extends 'layout.html' %}
{% import 'macros/hotels.html' as hotel_cards %}

{% block content %}
<script src="{{ url_for('static', filename='js/index.js')}}" defer></script>
    <div class="indexContainer">
        <div class="indexContent index_background loading_animation">
            <div class="text_wed_align">
                <div class="loading_animation" id="website_title"> <b>{{information['title']}} </b></div>
                <div class="loading_animation extra_info">1/10, 14:00</div>
                <div class="dresscode">Dress code: Fraque</div>
                {% set url = url_for('confirmations.confirmation') %}
                <button class="rsvp_button" data-url="{{url}}" onclick="redirectTo(this)"> RSVP </button>
            </div>
        </div>
        <div class="text_wed_info_background">
            <div class="appearingDivs">
                <div class="text_wed_info">
                    <div class="info_align_left">
                        <div class="text_wed_info_block index_block_text">
                            <p id="indicacoes" class="slidingAppearingDivsLeft"> Capela de Nossa Senhora de Lourdes , <br> Quinta da Costeira </p>
                            <button class="show_map slidingAppearingDivsRight" onclick="revealMap(this,'map_ribeiro')"> Mostrar mapa</button>
                            <iframe id="map_ribeiro" class="slidingAppearingDivsRight" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15150.51783610726!2d-8.41259902687641!3d40.88014033597952!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x90b8340f932c0bbc!2sQuinta%20da%20Costeira!5e0!3m2!1sen!2spt!4v1659009919308!5m2!1sen!2spt" 
                            width="90%" height="100%" frameborder="0" style="border:0;display: none;" allowfullscreen="" aria-hidden="false" tabindex="0", padding-bottom="30px"></iframe>
                        </div>
                    </div>
                    <div class="info_align_right">
                        <div class="text_wed_info_block index_block_text">
                            <p id="indicacoes" class="slidingAppearingDivsLeft"> Alojamento perto da quinta </p>
                            {% for hotel in hotels %}
                                {{ hotel_cards.hotel_card(hotel)}}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}